<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="MichaelPak" content="Cash2Friend" />
    <title>Compromise | Вход</title>
    <link href="../static/ext/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<div class="page-header">
		<h1>Компромиссы <br /><small>За**ало спорить? Юзай - забьемся!</small></h1>
	</div><br />
	<div class="row-fluid">
		<div class="span3" id="id1"></div>
		<div class="span3" id="id2"></div>
		<div class="span3" id="id3"></div>
		<div class="span3" id="id4"></div>
	</div>
	<div>
	<center><h3>Попробуй сейчас! Войди с помощью <a href="{% url 'socialauth_begin' 'google-oauth2' %}" title="Войти через Google"><img width="100px" src="../static/img/gmail.png" /></a>

	<a href="https://oauth.yandex.ru/authorize?response_type=code&client_id=bed4f2696a58489c8e9c7524b10b0681" title="Яндекс"><img width="100px" SRC="../static/img/yandex.png"></a>
	</h3></center>
	</div>
</body>
</html>