<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="MichaelPak" content="Cash2Friend" />
    <title>Compromise | Вход</title>
    <link href="../static/ext/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<div class="page-header">
		<h1>Компромиссы <br /><small>Надоело спорить? Пользуйся сервисом Compromise!</small></h1>
	</div><br />
	<div class="row-fluid">
		<img width="220px" SRC="../static/img/stage1.png"></a>
		<img width="220px" SRC="../static/img/stage2.png"></a>
		<img width="220px" SRC="../static/img/stage3.png"></a>
		<img width="220px" SRC="../static/img/stage4.png"></a>
	</div>
	<div>
	<center><h3>Попробуй сейчас! Войди с помощью <a href="{% url 'socialauth_begin' 'google-oauth2' %}" title="Войти через Google"><img width="200px" src="../static/img/googleplus.png" /></a>

	<a href="{% url 'socialauth_begin' 'yandex-oauth2' %}" title="Яндекс"><img width="100px" SRC="../static/img/login-with-yandex-6.png"></a>
	</h3></center>
	</div>
	<div align="middle">
		<a href="http://hardcoresoftware.ru/" title="HardCore Software"><img SRC="../static/img/software128.png" align="bottom | middle"></a>
	</div>
</body>
</html>