<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<script>
 json = {{ json }}
</script>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="MichaelPak" content="Cash2Friend" />
    <title>Compromise | Новое событие</title>
    
    <!-- STYLES -->
	<link rel="stylesheet" type="text/css" href="../static/ext/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../static/ext/datepicker/css/datepicker.css">
	<link rel="stylesheet" type="text/css" href="../static/ext/timepicker/css/bootstrap-timepicker.min.css">
	<link href="../static/ext/slider/simple-slider.css" rel="stylesheet" type="text/css" />

	<!-- SCRIPTS -->
	<script type="text/javascript" src="../static/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="../static/ext/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../static/js/underscore-min.js"></script>
	<script type="text/javascript" src="../static/js/json2.js"></script>
	<script type="text/javascript" src="../static/js/backbone-min.js"></script>
	<script type="text/javascript" src="../static/js/app.js"></script>
	<script type="text/javascript" src="../static/ext/datepicker/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript" src="../static/ext/timepicker/js/bootstrap-timepicker.min.js"></script>
    <script src="../static/ext/slider/simple-slider.min.js"></script>
    
</head>
<body>
	<div class="page-header">
		<h1>Создание <small>нового события</small></h1>
	</div>
	<form id="questions" class="span7">
		<div class="controls">
			
		</div>

		
  		<button id="save-event" class="btn btn-success" type="button">Сохранить</button>
	</form>

</body>
</html>